name: Build and Push Docker Image to ECR

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'

permissions:
  id-token: write
  contents: read

env:
  ECR_REPOSITORY: kirigeso-ecr

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::729166439606:role/kirigeso-ecs-oidc-role
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t $ECR_REPOSITORY ./app

      - name: Tag Docker image
        run: |
          docker tag $ECR_REPOSITORY:latest \
            729166439606.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest

      - name: Push Docker image to ECR
        run: |
          docker push \
            729166439606.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest
      
      - name: Force new ECS deployment
        run: |
          aws ecs update-service \
            --cluster kirigeso-ecs \
            --service kirigeso-ecs-service \
            --force-new-deployment
