name: Terraform CI/CD

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read
  pull-requests: write

env:
  DIRECTORY: env/dev

jobs:
  terraform-plan:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::729166439606:role/kirigeso-tf-oidc-role
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform -chdir=$DIRECTORY init

      - name: Terraform Plan
        run: terraform -chdir=$DIRECTORY plan -no-color | tee plan.txt

      - name: Comment plan to PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: plan.txt

  terraform-apply:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::729166439606:role/kirigeso-tf-oidc-role
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=$DIRECTORY init
        
      - name: Terraform Apply
        run: terraform -chdir=$DIRECTORY apply -auto-approve
